
@{
    ViewData["Title"] = "PageDetail";
}

<div class="text-center">
    <div><img style="background-color:white" src="@ViewBag.Path" /></div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


